.item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #e9eef3;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 20px;
}

.item:last-child {
  margin-bottom: 0;
}

.status {
  display: block;

  width: 15px;
  height: 15px;
  /* margin-right: 20px; */

  border-radius: 50%;
}

.status__true {
  composes: status;
  background-color: #1b9c26;
}

.status__false {
  composes: status;
  background-color: #a82929;
}

.avatar {
  padding: 15px;
  margin: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.name {
  font-size: 20px;
  font-weight: 700;
}
